<div class="container">
  <div class="filters">
    <!-- this is done using the path parameter -->

    <!-- <a class="button" routerLink="/catalog/Heads">Heads</a>
    <a class="button" routerLink="/catalog/Arms">Arms</a>
    <a class="button" routerLink="/catalog/Torsos">Torsos</a>
    <a class="button" routerLink="/catalog/Bases">Bases</a>
    <a class="button" routerLink="/catalog">All</a> -->

    <!-- another way is using queryParams to send the parameters to the url -->
     
    <a class="button" routerLink="/catalog" [queryParams] = "{filter: 'Arms'}">Arms</a>
    <a class="button" routerLink="/catalog" [queryParams] = "{filter: 'Torsos'}">Torsos</a>
    <a class="button" routerLink="/catalog" [queryParams] = "{filter: 'Bases'}">Bases</a>
    <a class="button" routerLink="/catalog" [queryParams] = "{filter: ''}">All</a>

  </div>

  <ul class="products">
    <li class="product-item" *ngFor="let product of showFilteredProducts()">
      <app-product-detail [product]="product" (buy)="addToCart(product)"></app-product-detail>
    </li>
  </ul>
</div>