.products {
    margin: 15px 100px;
    
    
  }

  .aligningDiv{
    display: flex;
    justify-content: space-between;
  }

  .product-details{
    display: flex;
    align-items: center;
  }

  .strikeThrough{
    text-decoration: line-through;
  }
  .bold{
    font-weight: bold;
  }

  .description{
    margin-top: 3px;
    margin-bottom: 10px;
  }
  
  .discountCss{
    color: rgb(192, 109, 123);
  }
  
  img{
    width: 60px;
    height: 50px;
    margin-right: 25px;
  }  